@model FoodAndCore.Data.Models.Category
@{
    ViewData["Title"] = "CategoryAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Category Add Page</h2>
<hr />
@using (Html.BeginForm("CategoryAdd", "Category", FormMethod.Post))
{
    <b>Category Name</b>
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x=>x.CategoryName,"", new { @style="color:red;"}) <br />
    <b>Category Description</b>
    @Html.TextAreaFor(x => x.CategoryDescription, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Save</button>
}
